// commons.scss

.hidden{
	display: none !important;
}
.smt{
	display: none;
}
@include mediaquery-smt {
	.smt{ 
		display: block;
	}
}
.hover-y{
	a{
		display: inline-block;
		@include transition(.2s ease-in-out);
		&:hover{
			transform: translateY(10px);
			opacity: 0.7;
		}
	}
}
.hover-alpha{
	a{
		-webkit-transform-style: preserve-3d;
		-webkit-transition: all .2s;
		transition: all .2s;
		&:hover{
			filter: alpha(opacity=60);
			-moz-opacity:0.60;
			opacity:0.60;
		}
	}
}