<% 
	/*
		ページタイトル: metaTitle
		ディスクリプション: metaDisc
		読み込むJS（配列で複数設置可）: loadJS 
	*/
	var metaTitle = "title"; 
	var metaDisc = "meta"; 
	var loadJS = [
		'/cmd/sp/assets/js/global.js'
	];
%>
<% include _partial/_header %>
<div class="wrapper">
</div>
<!-- //wrapper -->
<% include _partial/_footer %>
</body>
</html>