<% 
	var pageID = top; 
-%>
<% include assets/partial/_header %>
<div class="wrapper">
<%= siteName %>
<p>dummy text</p>
<p>dummy text</p>
<p>dummy text</p>
<p>dummy text</p>
</div>
<!-- //wrapper -->
<% include assets/partial/_footer %>
</body>
</html>